.button {
    background: teal;
    color: white;
    font-style: 500;
    padding-top: 8;
    padding-bottom: 8;
    border-color: #ebf8ff;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
